<p style="color: green"><%= notice %></p>

<h1>Companies</h1>

<div id="companies">
  <% if @companies.blank? %>
    <p>No companies</p>
  <% else %>
    <table>
      <tr>
        <th>Name</th>
        <th colspan="2">Actions</th>
      </tr>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td><%= link_to "Edit", edit_company_path(company) %></td>
          <td><%= button_to "Destroy", company, method: :delete %></td>
        </tr>
      <% end %>
    </table>
    
  <% end %>
</div>

<%= link_to "Home", root_path %>
<%= link_to "New company", new_company_path %>
